@import "partials/variables";
@import "partials/mixins";

//General styling
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  background-color: $pink;
  color: $dark-blue;
  text-align: center;

  font-family: 'DotGothic16', sans-serif;

}

main {
  background-color: $white;
  min-height: 100vh;
  width: 100vw;

  @include for-tablet {
    width: 500px;
    margin: 50px 0;
    min-height: auto;
    border-radius: 10px;
    border: 3px solid $dark-blue;
  }
  @include for-small-screen {
    width: 900px;
  }
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 20px 0 10px 0;
  font-size: 28px;
}
h2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 20px 0 0 0;
  font-size: 25px;
}
p {
  margin: 0;
}

button {
  background-color: $pink;
  border: 3px solid $dark-blue;
  border-radius: 4px;
  font-family: 'DotGothic16', sans-serif;
}

.fa-solid {
  color: $dark-blue;
}

//Form

#createPet {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 20px;;
  }

  button {
    margin: 15px 0 25px 0;
    font-size: 20px;
    width: 160px;
    color: $dark-blue;
  }
}

input[type=text] {
  background-color: $white;
  border: 3px solid $dark-blue;
  border-radius: 4px;
  color: $dark-blue;
  font-family: 'DotGothic16', sans-serif;
  width: 200px;
  font-size: 15px;
  text-align: center;
}
#typeInput {
  background-color: $white;
  border: 3px solid $dark-blue;
  border-radius: 4px;
  color: $dark-blue;;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  text-indent: 10%;
  width: 200px;
  font-size: 15px;
}

//Pets
.petContainer {
  @include for-small-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 790px;
    margin: 0 55px;
  }
}

.indivdualPetDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 20px 0;

  p {
    font-size: 20px;
  }
  img {
    height: 200px;
    margin: 20px 0;
  }
}
.buttonDiv {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  button {
    width: 60px;
    height: 40px;
    font-size: 20px;
  }
}
.killButton {
  width: 160px;
  font-family: 'Creepster', cursive;
  font-size: 25px;
  color: $dark-blue;
  margin: 0 0 30px 0;
}

//Stats
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 20px;
  }
}

progress {
	border-radius: 15px;
  width: 200px;;
}
progress::-webkit-progress-bar {
	background-color: $white;
  border: 3px solid $dark-blue;
	border-radius: 15px;
}
progress::-webkit-progress-value {
	background: $pink;
  background-color: $pink;
	border-radius: 15px;
}
//Buttons


.hidden {
  display: none;
}